@import './global.css';

.contact-form {
	/* background-color: aqua; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	/* border: 1px solid var(--link-hover-color); */
	border-radius: 0.5rem;
}

.contact-form .input-container {
	display: flex;
	flex-direction: column;
	/* background-color: antiquewhite; */
	width: 60%;
	min-width: 22rem;
	gap: 1rem;
	/* gap: 0.5rem; */ /* translateY() na label quando focus no input?*/
}

.contact-form .input-container label {
	font-size: 1.8rem;
	font-weight: 500;
}

.contact-form .input-container input {
	padding: 1rem;
	width: 100%;
	font-size: 1.6rem;
	border: none;
	background-color: var(--light-color);
	border-bottom: 1px solid var(--link-hover-color);
}

.contact-form .input-container textarea {
	border: none;
	border: 1px solid var(--link-hover-color);
	border-radius: 0.5rem;
	padding: 1rem;
	font-size: 1.6rem;
	background-color: var(--light-color);
	resize: none;
	width: 100%;
	height: 20rem;
}

.submit-button {
	padding: 2rem 4rem;
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
	background-color: transparent;
	cursor: pointer;
	border: 1px solid var(--dark-color);
	border-radius: 0.4rem;
	color: var(--dark-color);
}

.submit-button.button-fill:hover,
.submit-button.button-fill:focus {
	color: var(--light-color);
}

.submit-button.button-fill::before {
	border-radius: 0;
	border-radius: 0.4rem;
}

.dark-theme input,
.dark-theme textarea {
	color: var(--dark-color);
}