@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* 10px - put in percent to scale better */
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	--light-color: #eeeeee;
	--dark-color: #363636;
	--link-hover-color: rgba(235, 140, 16, 0.7);
	--title-font-family: 'Montserrat', sans-serif;
	--body-font-family: ;
	--container-padding: 1.5rem;
	--section-vertical-spacing: 8rem;
}


body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	background-color: var(--light-color);
	color: var(--dark-color);
	overflow-x: hidden;
}

body.dark-theme {
	--light-color: #000;
	--dark-color: #eeeeee;
}

a {
	text-decoration: none;
	color: var(--dark-color);
	transition: 0.4s ease;
}

a:hover {
	color: var(--link-hover-color);
}

ul {
	list-style: none;
}

i {
	font-size: 2.4rem;
}

img {
	max-width: 94rem;
}

/* Reusable classes */
.container {
	margin: 0 auto;
	/* background-color: aquamarine; depois tirar isso aqui */
	width: 85%;
	max-width: 92rem;
}

section {
	padding-block: var(--section-vertical-spacing);
}

.button {
	cursor: pointer;
}

.s-grid {
	display: grid;
}