@import './global.css';

/* just to define the margin a partir of the header element, since its
what's in the outer shell separating from the hero-section */
.header {
	margin-bottom: 1.5rem;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap; /* deixa wrap ou a partir dos 760px coloca media query pra ser column-direction? */
	padding: 2rem 0;
	row-gap: 1.5rem;
}

.logo {
	font-size: 2.5rem;
	font-weight: bold;
}

.menu {
	display: flex;
	gap: 1.25rem;
	align-items: center;
	border: 1px solid var(--dark-color);
	padding: 0.7rem;
	border-radius: 0.5rem;
}

.icon-button {
	color: var(--light-color);
	background-color: var(--dark-color);
	border: none;
	border-radius: 0.4rem;
	display: flex;
	height: 4rem;
	width: 4rem;
}

.icon-button i {
	margin: auto;
	transition: 0.4s ease;
}

/* com apenas um, ele fica centralizado */
/* i.theme-on {
	display: none;
} */

.icon-button i:hover {
	color: var(--link-hover-color);
}

.menu-item:not(.toggle-theme) {
	background-color: var(--dark-color);
	padding: 1rem;
	border-radius: 0.5rem;
}

.menu-link {
	color: var(--light-color);
}

i.theme-on {
	display: none;
}

i.theme-off {
	display: block;
}

/* dark theme */
.dark-theme i.theme-on {
	display: block;
}

.dark-theme i.theme-off {
	display: none;
}