@import './global.css';

.about-me {
	border: 1px solid rgb(238, 154, 43);
	border-radius: 0.5rem;
}

.about-me-description {
	gap: 1rem;
}

.about-me-title {
	background-color: rgb(238, 154, 43);
	display: flex;
	flex-wrap: wrap;
	row-gap: 1rem;
	align-items: center;
	justify-content: space-around;
}

.about-me-title h1 {
	font-size: 3.5rem;
	color: var(--light-color);
	text-align: center;
}

.picture-container {
	/* background-color: aliceblue; */
	width: 23rem;
	height: 23rem;
}

.picture-container img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 50%;
	border-bottom-left-radius: 8%;
}

.description {
	text-transform: uppercase;
	text-align: center;
}

.bold-text {
	font-weight: bold;
}

.tech-stack {
	grid-template-columns: repeat(4, 1fr);
}

.tech-stack-item {
	display: flex;
	padding-block: 1rem;
}

.tech-stack i {
	font-size: 5rem;
	opacity: 0.5;
	margin: auto;
}